html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 50%;
  top: 100px;
}

.placehold {
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 500px;
}

.banner h2 {

}

.banner .img-flex {

}

.content {
  max-width: 45em;
  overflow: hidden;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  border: solid 3px #333;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: black;
  color: white;
  border: solid black;
}
